/* VARIABLES */

:root {
  --main-blue: #5d74e0;
  --main-green: #6AD686;
  --main-grey: #A5A5A5;
}

/* MAIN */

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
 background: url('https://ak2.picdn.net/shutterstock/videos/1014882232/thumb/1.jpg');
 background-size: cover; 
 overflow: hidden;
}

/* ANIMATIONS */

@keyframes translateX1 {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes translateX2 {
  0%   { transform: translateX(0);
         opacity: 1; }
  80%  { transform: translateX(500px);
         opacity: 0; }
  100% { transform: translateX(0); }
}

@-webkit-keyframes translateX2 {
  0%   { -webkit-transform: translateX(0);
         opacity: 1; }
  80%  { -webkit-transform: translateX(500px);
         opacity: 0; }
  100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes translateX2 {
  0%   { -moz-transform: translateX(0);
         opacity: 1; }
  80%  { -moz-transform: translateX(500px);
         opacity: 0; }
  100% { -moz-transform: translateX(0); }
}


/* VIRTUAL KEYBOARD*/

.showKey {
  opacity: 1;
  z-index: 100;
  animation: rotationZ1 1s;
  -webkit-animation: rotationZ1 1s;
}

.hiddenKey {
  opacity: 0;
  z-index: 1;
  animation: rotationZ2 1s;
  -webkit-animation: rotationZ2 1s;
}

.opacity0 {
  opacity: 0;
  z-index: -100;
}

.container {
  margin-top: 100px;
  display: block;
  height: 200px;
}

#token_input {
  display: block;
  margin: 0 auto;
  width: 500px;
  text-transform: uppercase;
  border: none;
  border-bottom: 2px solid purple;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.temp-keyboard {
  text-align: center;
  position: absolute;
  left: 50%;
}

.keyboard {
  position: relative;
  top: 0;
  left: -50%;
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  justify-content: center;
  transition: all 1s ease;
}

#qwerty {
  top: -158px;
}

.row-keyboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: auto;
}

.row-keyboard div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 3px;
  background-color: white;
  border: 2px solid var(--main-blue);
  border-radius: 5px;
  color: var(--main-blue);
  cursor:pointer;
  text-transform: uppercase;
  transition: ease 0.3s;
  font-size: 1.5rem;
}

#del, #switch {
  width: 86px;
}

#a {
  transform: translateY(-2px);
  background-color: var(--main-blue);
  color: white;
}

#init_number {
  transform: translateY(-2px);
  background-color: var(--main-blue);
  color: white;
}

.row-keyboard div:hover {
  transform: translateY(-2px);
  background-color: var(--main-blue);
  color: white;
}

@media screen and (max-width: 800px) {

  @keyframes translateX2 {
    0%   { transform: translateX(0);
           opacity: 1; }
    80%  { transform: translateX(250px);
           opacity: 0; }
    100% { transform: translateX(0); }
  }

  @-webkit-keyframes translateX2 {
    0%   { -webkit-transform: translateX(0);
           opacity: 1; }
    80%  { -webkit-transform: translateX(250px);
           opacity: 0; }
    100% { -webkit-transform: translateX(0); }
  }

  @-moz-keyframes translateX2 {
    0%   { -moz-transform: translateX(0);
           opacity: 1; }
    80%  { -moz-transform: translateX(250px);
           opacity: 0; }
    100% { -moz-transform: translateX(0); }
  }

  .container {
    height: 400px;
  }

  .row-keyboard {
    width: 230px;
    flex-wrap: wrap;
  }

  #qwerty {
    top: -296px;
  }

  #token_input {
    width: 250px;
  }
}

input {
  text-align: center;
  background: transparent;
  border-style: none;
}

input:focus {
  outline-width: 0;
}

input::selection {
  background: none; /* WebKit/Blink Browsers */
}