html,
body {
  height: 100%;
  position: relative;
  cursor: none;
}

body {
  margin: 0px;
  background: url("../../img/background/background.png");
  background-attachment: fixed;
  background-position: center;
  overflow: hidden;
}

.nav {
  height: 50px;
  width: 30%;
  margin: 0 auto;
  background: purple;
  -webkit-box-shadow: 0 8px 6px -6px black;
}

.nav-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.nav-title {
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav-img-coin img {
  width: 25px;
}

.swiper-container {
  width: 70%;
  height: 100%;
  margin-top: 3vh;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
}

.swiper-slide:nth-child(1) {
  background-image: url("../../img/games/infinite-mario-bros.png");
  background-position: center;
  background-size: cover;
  height: 30%;
}
.swiper-slide:nth-child(2) {
  background-image: url("../../img/games/pong.jpg");
  background-position: center;
  background-size: cover;
  height: 30%;
}
.swiper-slide:nth-child(3) {
  background-image: url("../../img/games/pacman.png");
  background-position: center;
  background-size: cover;
  height: 30%;
}
.swiper-slide:nth-child(4) {
  background-image: url("../../img/games/tetris.jpg");
  background-position: center;
  background-size: cover;
  height: 30%;
}

.swiper-pagination {
  visibility: hidden;
}

footer {
  width: 50%;
  margin: 0 auto;
}

.introduction {
  height: 250px;
  width: 100%;
  background: grey;
  position: absolute;
  bottom: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: justify;
}

.introduction img {
  width: 20%;
  height: 60%;
}

.introduction .test {
  background: purple;
  -webkit-box-shadow: 0 12px 6px -6px black;
  -moz-box-shadow: 0 12px 6px -6px black;
  box-shadow: 0 12px 6px -6px black;
  margin-left: 5%;
  padding-left: 2%;
  padding-right: 2%;
}

.introduction .test p {
  color: white;
  font-weight: bold;
}

.highscore {
  height: 50px;
  width: 30%;
  margin: 0 auto;
  text-align: center;
  margin-top: 15vh;
  color: white;
}
