<!DOCTYPE html>
<html lang="fr">

        <head>
                <title>Payement pour borne d'arcade</title>
                <meta charset="UTF-8">
                <link rel="icon"
                      type="image/png"
                      href="/img/logo.png" />
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
                <!-- Favicon -->
                <link href="/img/favicon.ico"
                      rel="shortcut icon" />
                <!-- Google Font -->
                <!-- Stylesheets -->
                <link rel="stylesheet"
                      href="/assets/css/page_aceuille.css">
                <!-- JS -->
                <script src="/js/jquery-3.2.1.min.js"></script>
        </head>

        <body>
                <!-- Page Preloder -->
                <div id="preloder">
                        <div class="loader"></div>
                </div>
                <!-- Header section -->
                <header class="header-section">
                        <div class="header-bar-warp d-flex">
                                <!-- Menu -->
                                <h1 style="text-align:center">Payement pour borne d'arcade</h1>
                                <h3 style="text-align:center">veuillez sélectionner votre moyen de paiement</h3></a>
                                <ul class="main-menu primary-menu">
                                        <form class="form_button"
                                              style="text-align:center">
                                                <button onclick="window.location.href='/pagefdp'"></button>
                                                <a href="/payefdp"><button class="btn_myarticles">5€</button></a>
                                                <a href="/payefdp"><button class="btn_myarticles">7€</button></a>
                                        </form>
                                        <form method="POST"
                                              action="/blogYnov/userconnected/myarticles/new"
                                              class="form_button"
                                              style="text-align:center">
                                                <a><button class="btn_myarticles">9€</button></a>
                                                <a><button class="btn_myarticles">10€</button></a>
                                        </form>
                                </ul>
                        </div>
                        </div>
                </header>
                <!-- Blog section end -->
                <!-- Footer section -->
                <footer class="footer-section">
                        <div class="container">
                                <img class="footer-logo"
                                     src="/img/logo.png"
                                     alt="">
                        </div>
                </footer>
                <!-- Footer section end -->
                <!--====== Javascripts & Jquery ======-->
        </body>

</html>