* {
    cursor: none;
}

html {
    scroll-behavior: smooth;
}
body {
    background-image: url('../../img/backgrounds/background.png');
    background-size: cover;
}
img {
    height: 30vh;
    width: 40vw;
    text-align: center;
    margin: auto;
}
.frame {
    text-align: center;
    margin: auto;
    z-index: 10;
    margin-top: 5vh;
}
.button {
 text-align: middle;
 margin-top: 30px;
padding-top: 10px;
padding-bottom: 10px;
padding-left: 80px;
padding-right: 80px;
background-color: transparent;
-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(255,139,253,0);
text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
border: 3px double #FF4294;
border-radius: 3px;
color: #00004A;
font-family: 'Luckiest Guy', cursive;
font-size: 16px;
}
.btn-group {
    margin-top: 6vh;
}

.container-asso {
    margin-top: 25vh;
    color: white;
    font-size: 2.1vh;
}

.asso-part-history{
    color: white;
}

.asso-part-approche {
    color: white;
}

.asso-part-objectif {
    color: white;
    margin-bottom: 4vh;
    margin-top: 2vh
}

.image {
    width: 20vw;
    height: 25vh;
}

::-webkit-scrollbar {
    display: none;
}


/*/////////// PARAMS ///////////*/

.times {
    color: white;
    margin-top: 6vh;
}

/*/////////// INPUT ///////////*/

input {
    visibility: hidden;
}

/*/////////// GAMES ///////////*/

#game-1 {
    color: white;
    background: transparent;
    border-style: none;
    font-size: 20px;
}

#game-2 {
    color: wheat;
    background: transparent;
    border-style: none;
    font-size: 20px;
}

#game-3 {
    color: wheat;
    background: transparent;
    border-style: none;
    font-size: 20px;
}

/*/////////// QR CODE ///////////*/

#img_qr_code {
    width: 15vw;
    margin-left: 5vw;
    margin-top: 5vw;
}


#btn_add_token {
    background-color: #c02794;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#btn_add_token:active {
    color: black;
}

