body {
  margin: 0;
  padding: 0;
}

.swiper-container {
  width: 40vw;
  padding-top: 5vh;
  padding-bottom: 4vh;
  padding-right: 3vh;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 25vw;
  height: 40vh;
}

.swiper-slide:nth-child(1) {
  background-image: url('../../img/games/superMarioBros.png')
}
.swiper-slide:nth-child(2) {
  background-image: url('../../img/games/superMarioBros2.png')
}
.swiper-slide:nth-child(3) {
  background-image: url('../../img/games/superMarioBros3.png')
}
.swiper-slide:nth-child(4) {
  background-image: url('../../img/games/pacman.png')
}

.swiper-slide:nth-child(5) {
  background-image: url('../../img/games/donkeyKong.png')
}

.swiper-slide:nth-child(6) {
  background-image: url('../../img/games/spaceInvaders.jpg')
}


.swiper-pagination-bullet {
 background: purple;
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background:wheat;
}