<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Borne Arcade Collaborative</title>

    <!-- Custom Style -->
    <link rel="stylesheet" href="/css/index/style.css">



</head>

<body>

    <div class="container">
        <div class="title">
           test
        </div>


        <div class="card-payement">
            <h3>Faire un don</h3>

            <div class="card card-1">
                <div class="card-img">
                    <img src="https://grandeconsumo.com/wp-content/uploads/2019/12/hipay-logo.png" alt="">
                </div>
            </div>
            <h3>Découvrir l'association</h3>
            <div class="card card-1">
                <div class="card-img">
                 <a href="https://www.unenfantparlamain.org/" target="_blank"><img id="img_assos" src="https://da0rqwzbn7204.cloudfront.net/uploads/assoc/logo/18/Plan_de_travail_6_6x-100.jpg" alt=""></a>   
                </div>
            </div>
        </div>
    </div>







    <!-- SCRIPT -->

    <!-- SCRIPT -->


</body>

</html>