<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faire un don</title>
    <link rel="stylesheet" type="text/css" href="/css/makeADonation/style.css">
</head>

<body>

    <form action="/generatetoken" method="POST">
        <select name="party">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button>Faire un don</button>
    </form>
    
</body>
</html>