<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Faire un don</title>
    <link rel="stylesheet" type="text/css" href="/css/makeADonation/style.css">
</head>

<body>

    <form action="/generatetoken" method="POST">
        <select name="party">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <button>Faire un don</button>
    </form>

    <table style="margin-top: 7%;">
        <tr>
            <th>Jetons</th>
            <th>Prix</th>
            <th>Temps</th>
        </tr>
        <tr>
            <td>1</td>
            <td>50 centimes</td>
            <td>5 minutes</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1 euro</td>
            <td>10 minutes</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1,50 euro</td>
            <td>15 minutes</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2 euro</td>
            <td>20 minutes</td>
        </tr>
    </table>
</body>
</html>