<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pause</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/standby/style.css">

</head>

<body>

    <video autoplay muted loop id="myVideo">
        <source src="../assets/video/fond_anim_born.mp4" type="video/mp4">
    </video>


    <!-- SCRIPT -->
    <script>window.$ = window.jQuery = require('jquery');</script>

    <!-- SCRIPT STANDBY -->
    <script src="../assets/js/standby/standby.js"></script>
    <!-- END SCRIPT STANDBY -->

    <!-- END SCRIPT -->


</body>

</html>
