<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Menu Borne</title>

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/index/style.css" />
    <link rel="stylesheet" href="../node_modules/swiper/css/swiper.min.css" />
  </head>

  <body>
    <!-- Navbar -->
    <div class="nav">
      <div class="nav-header">
        <div class="nav-img-coin">
          <img src="../assets/img/coin.png" />
        </div>
        <div class="nav-title">
          <span id="token_remainig"></span>
        </div>
        <div class="nav-img-coin">
          <img src="../assets/img/coin.png" />
        </div>
      </div>
    </div>

    <div class="highscore">
      <h2 id="highscore_content"></h2>
    </div>

    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
        <div class="swiper-slide"></div>
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <div style="visibility: hidden;" class="swiper-button-prev"></div>
      <div style="visibility: hidden;" class="swiper-button-next"></div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="introduction">
        <img src="../assets/img/logo_asso.jpg" />
        <div class="test"><p id="content"></p></div>
      </div>
    </footer>

    <!-- SCRIPT -->
    <script>
      window.$ = window.jQuery = require("jquery");
    </script>
    <script src="../node_modules/swiper/js/swiper.min.js"></script>
    <script src="../assets/js/index/main.js"></script>
    <script src="../assets/js/timer-standby/timer-standby.js"></script>

    <!-- /SCRIPT -->
  </body>
</html>
